
<html>
    <head>
          <title>Express Proj</title>
          <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        {{!-- <h2 class="hedt1"> {{title}} </h2> --}}
        <div class="footer">
            <a href="/"> HOME </a>
            <a href="/head"> HEAD </a>
            <a href="/main"> MAIN </a>
            <a href="/team"> TEAM </a>
            <a href="/service"> SERVICE </a>
        </div>
          
    </body>
    </html>

    </body>
    </html>
