
<html>
    <head>
          <title>Express Proj</title>
          <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
          <h2> {{>header}} </h2>
          <h2> {{tittle}} in hps page </h2>
          <h2> {{dec}} </h2>
          <img class="nor"  src={{img}} alt="">
                    <h3> {{>footer}} </h3>

    </body>
    </html>
